/* 세부 영역 */
#srcsec {
    margin: 0 auto;
    width: 75%;
    min-height: auto;
}

/* 소제목 */
#stitle {
    width: 100%;
    height: 25px;
    margin: 1px;
    font-size: 14px;
    font-weight:bold;
}

/* 프로필 이미지 */
#profileimg {
    border-radius: 10px 10px 10px 10px;
    width: 70%;
    height: 70%;
    margin-top: 9%;
}

@media (max-width :1000px) {
    .tab-pane>div>#stitle{
        margin-bottom: 5px;
    }
    #leftsrc{
        font-size: 3px;
    }
}